@font-face {
	font-family: 'PT Sans Narrow';
	src: url(../font/PTSans/PTSans-NarrowBold.woff2) format('woff2'),
			url(../font/PTSans/PTSans-NarrowBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url(../font/OpenSans/OpenSans-Regular.woff2) format('woff2'),
			url(../font/OpenSans/OpenSans-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe WP';
	src: url(../font/SegoeWP/SegoeWP-Light.woff2) format('woff2'),
			url(../font/SegoeWP/SegoeWP-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe WP';
	src: url(../font/SegoeWP/SegoeWP.woff2) format('woff2'),
			url(../font/SegoeWP/SegoeWP.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url(../font/PTSans/PTSans-Regular.woff2) format('woff2'),
			url(../font/PTSans/PTSans-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Asap';
	src: url(../font/Asap/Asap-Regular.woff2) format('woff2'),
			url(../font/Asap/Asap-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

